h1 {
    text-align: center;
    animation: blink 1.5s linear infinite;
    margin-top: 50px;
    margin-bottom: 50px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.btn-create,
.btn-edit,
.btn-details,
.btn-delete,
.tk {
    padding: 5px 20px;
    border-radius: 50px;
    outline: none;
    border: none;
    font-weight: 500;
    color: #fff;
    transition: all 0.3s ease;
}

.btn-create {
    background: #615c84;
    margin-bottom: 20px;
}

    .btn-create:hover {
        color: black;
        background: linear-gradient(to right, #ECAD8F, #AF6E4E);
        text-decoration: none;
    }

.btn-edit {
    background: #5883AD;
}

    .btn-edit:hover {
        color: black;
        background: linear-gradient(to right, #f12711, #f5af19);
    }

.btn-details {
    background: #03417F;
}

    .btn-details:hover {
        color: black;
        background: linear-gradient(to right, #ffd8b9, #f5af19);
    }

.btn-delete {
    background: #3b3da1;
}

    .btn-delete:hover {
        color: black;
        background: linear-gradient(to right, #ECAD8F, #AF6E4E);
    }

.table-header {
    background-color: darkslategray;
    color: white;
}

.tk1 {
    padding: 5px 15px;
    border: 1px solid darkgrey;
    background: #fff;
    font-weight: 400;
    width: 290px;
    border-radius: 4px;
}

.tk {
    background: #3b3da1;
}

    .tk:hover {
        color: black;
        background: linear-gradient(to right, #ECAD8F, #AF6E4E);
    }

.modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-floating {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}
input.form-control,
select.form-control {
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
}


